@model IEnumerable<EComWebNewApplication.Products.IProduct>

<h2>Product List</h2>

@if (!Model.Any())
{
    <p>No products available.</p>
}
else
{
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
    </table>
}
